.navbar-brand {
  font-size: 35px;
  margin-left: 500px;
}
form {
  margin-top: 20px;
}
.form-control {
  margin-left: 20px;
}
.border {
  font-size: 30px;
  padding: 150px;
  padding-left: 275px;
  margin-right: 25px;
  float: right;
}
#week {
  margin-top: -80px;
  margin-left: 285px;
  display: flex;
  justify-content: space-between;
  width:80%
}
#day1,
#day2,
#day3,
#day4,
#day5 {
  background-color: #6c757d;
  padding-bottom: 100px;
}
#cityBtn{
display: flex;
flex-direction: column;
margin-top: 20px;
width:23%;
margin-left: 20px;
}